{% extends 'layout/layout.twig' %}

{% block title %}blog{% endblock %}

{% block description %}Homepage of the blogphp{% endblock %}



{% block main %}
    <main id="home">
        <section>
            <h2>Les Blogs</h2>
            <ul>
                {% for blogs in allBlogs %}
                    <li>
                        <a href="index.php?access=blogs!read&id={{ blogs.id }}">
                       <p><b> {{ blogs.title }}</p></b> <p>{{ blogs.content }}</p> {{ blogs.author }} <p> Crée le{{ blogs.createdAt }} </p></a>
                    </li>
                {% endfor %}
            </ul>
            
        </section>
    </main>
{% endblock %}
 