<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"               content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"  content="IE=edge">

    <title>{{ block('title') }}</title>

    <link rel="canonical" href="{% block canonical %}https://padraig11.github.io/blogphp/{% endblock %}">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">

    <meta name="description"                content="{{ block('description') }}">
    <meta name="author"                     content="Patrice Esperou">
    <meta name="copyright"                  content="MIT">

    <meta property="og:type"        content="website">
    <meta property="og:title"       content="{{ block('title') }}">
    <meta property="og:url"         content="{{ block('canonical') }}">
    <meta property="og:description" content="{{ block('description') }}">
    <meta property="og:contact"     content="{{ block('contact') }} ">

    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="header">
    
        <h1>{{ block('title') }}</h1>
        
    
</header>
<section class="presentation">
        <div class="photo">
        <img src="images/profil.jpg" alt="photo de profil">
        </div> 
        <div class="nomprenom">
            <p>Patrice</p>
            <p>ESPEROU</p>
            <div class="cv">
            <a href="#">Curriculum Vitae</a>
           </div>
</section>
 <div class="phraseaccroche">
  <p>  L' expertise Du Développeur Par Exellence</p>
</div>
    {% block main %}{% endblock %}

    {{ include('layout/navbar.twig') }}

    {{ include('layout/footer.twig') }}

   

</body>
</html>
